*{
    padding: 0%;
    margin: 0%;
}

nav{
 display: flex;
 justify-content: space-between;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
 /* border-bottom:1px solid #777; */
 height:70px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(10px); */
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

nav ul{
    display: flex;
    list-style-type: none;
    gap:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
   margin:10px;
   padding:5px;
   cursor:pointer;
}

nav h1{
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
}