.buttonContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   width:100vw;
 height: 90vh;
}
span{
    padding:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
button{
    padding:8px;
    background-color: #1877F2;
    border:none;
    width:70px;
    border-radius:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor:pointer; 
    animation-name: float-up;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float-up {
    0% {transform: translateY(0px)}
    50% {transform:translateY(-6px)}
    100%{transform:translateY(0px)}
}
button:hover{
    box-shadow: 0px 0px 12px rgb(19, 102, 226);
}